<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->



<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
>
<!--    <context:annotation-config></context:annotation-config>-->
    <context:component-scan base-package="com.navin.telusko"/>
<!--    I autowired(@Autowired) the Tyre class to the Bike and the Car class,
        So I have to take the bean (id) of the tyre class
        and if the tyre has a constructor or properties that I would want to use
        I would fixed them in the commented template below
-->
    <bean id= "tyre" class ="com.navin.telusko.Tyre">
<!--        <property name="brand" value="MRF"></property>-->
<!--        <constructor-arg value="MRF"></constructor-arg>-->
    </bean>
<!--    <bean id="vehicle" class ="com.navin.telusko.Car" ></bean>-->
</beans>

